<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | VisualFirm</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div class="login-container">
        <div class="login-box">
            <div class="logo-container">
                <img id="logo" src="images/logook.png" alt="VisualFirm Logo" class="logo">
            </div>
            <form action="#">
                <div class="input-group">
                    <input type="text" id="username" name="username" placeholder="Usuario o email" required>
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <div class="options">
                    <div class="remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me">
                        <label for="remember-me">Recordarme</label>
                    </div>
                    <div class="forgot-password">
                        <a href="#">Recuperar Contraseña</a>
                    </div>
                </div>
                <button type="submit" class="login-button">Iniciar sesión</button>
                <div class="extra-options">
                    <p>Aún no tienes una cuenta? <a href="#">regístrate aquí</a></p>
                    <p><a href="#">Continuar sin iniciar sesión</a></p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
